body {
    margin: 0 auto;
    display: flexbox;
    width: 850px;
    text-align: center;
}

main {
    margin: 0 auto;
    height: 450px;
    background-image: url(https://images.unsplash.com/photo-1515705576963-95cad62945b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bWlsa3klMjB3YXl8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60);
    color: white;  
    
}
section {
    display: flex;
     height: 324px;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightgray;

}

article {
    width: 270px;
    height: 324px;
    background-color: lightgrey;

    
}


